@{
    ViewBag.Title = "Coming Soon";
}

<div class="page-header">
    <h1>Results coming soon</h1>
</div>
<p>Check back on Thursday morning for your results if you have successfully submitted the form!</p>
